################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/TrackManager/bin/Debug
/TrackManagerTests/bin/Debug
